@tailwind base;
@tailwind components;
@tailwind utilities;


.shine-button {
    position: relative;
    overflow: hidden;
  }
  
  .shine-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(45deg);
    transition: all 0.5s ease;
  }
  
  .shine-button:hover::before {
    left: 100%;
    transition: all 0.5s ease;
  }